__pycache__
architecture/
batch/
ephemeral/
old/
output/
docs/
scripts/
scraps/
reports/
venv/
.sonarlint/
.vscode/
.env
.pre-commit-config.yaml
.pylintrc
.markdownlint.json
.scannerwork
.sonar_lock
.solarlint
pyrightconfig.json
repgen.sh
sonar-project.properties
setup.cfg


